{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["defaults"]
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
